.main {
  background: #001745;
  border-radius: 20px;
  box-shadow: 25px 25px 40px 0px rgba(0, 0, 0, 0.33);
  height: 400px;
  max-height: 90vh;
  min-width: 98%;
  position: absolute;
  left: 50%;
  margin: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}
.weather-panel {
  color: #fff;
  overflow: hidden;
}

small {
  font-size: 20px !important;
}

.coming-days {
  background: #197644;
  border-radius: 5px;
}

.coming-days * {
  color: white;
}

.coming-days small {
  font-size: 17px !important;
  color: white;
}

ul.forecast > li {
  border-top: 1px solid #fff;
}

p {
  margin: 0 !important;
}

#__next {
  width: 100%;
}

.loading {
  font-size: 20px;
}

@media (max-width: 768px) {
  .coming-days small {
    font-size: 15px !important;
  }
}
